<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinalPage</title>
</head>
<body>
    <!--  -->
    <div><h1>You Pension Information:</h1>
        <p>Your Monthly Fee: <%=results.userPension.monthFee%></p>
        <p>Your Saves Fee: <%=results.userPension.savesFee%></p>
        <p>Your Preffered Danger Level Fee:<%=results.userPension.dangerLvl%></p>
    </div>
    
    <div><h1>Benchmark:</h1>
            <p>Market Avarage Monthly Fee: <%=results.benchmark.avgMonthFee%></p>
            <p>Market Avarage Saves Fee: <%=results.benchmark.avgSavesFee%></p>
            <p>Market Avarage Yield Fee: <%=results.benchmark.avgYield%></p>
        </div>

        <div>This Is The Best Offer For You
            <p>Company Name: <%=results.bestOffer.stringValue%></p>
            <p>Monthly Fee: <%=results.bestOffer.stringValue%></p>
            <p>Saves Fee: <%=results.bestOffer.stringValue%></p>
        </div>
    
<!--  -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script type="text/javascript" src="/public/renderer.js"></script>
<script type="text/javascript" src="/public/manager.js"></script>
<script type="text/javascript" src="/public/main.js"></script>
</body>
</html>